@use "../utils/variables" as v;

.dashboard {
  width: 100%; 
  max-width: 1520px; 
  height: 1084px;
  margin: 0 auto; 
  position: relative;
  z-index: 1;
  border-radius: 20px; // Add border-radius for a more rounded look
  top: -400px;
}