@use "../utils/variables" as v;

$height: 54px;
$width: 138px;

.button {
  width: $width;
  height: $height;
  padding: 16px 40px;
  border-radius: 40px;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  display: flex; // Add flexbox for better alignment
  align-items: center; // Center content vertically
  justify-content: center; // Center content horizontally

  &__icon {
    margin-right: 10px; // Add spacing between icon and text
  }

  &__primary {
    border-color: v.$primary; 
  }

  &__secondary {
    background: v.$secondary;
    border-radius: 40px; 
  }
}