@use "../utils/variables" as v;

$height: 54px;
$width: 138px;

.button {
  width: $width;
  height: $height;
  padding: 16px 40px; // Corrected padding syntax
  border: 1px solid transparent;
  border-radius: 40px;
  background: transparent;
  cursor: pointer;

  &__primary {
    border-color: v.$primary; 
  }

  &__secondary {
    background: v.$secondary;
    border-radius: 40px;
  }
}