@use "../utils/variables" as v;

.footer{
    width: 100%; 
    max-width: 1920px; 
    margin: 0 auto; 
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 50px;

    &__upper{
        display: flex;
        justify-content: space-between; 
        width: 100%;
        max-width: 1520px; 
        padding-top: 60px; 
        align-items: center; 
        margin: 0 auto; // Add this line

        &--logo{ 
            width: 300px; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px; 

            &--header{
                font-size: 30px;
                font-weight: normal;
                color: transparent;
                background-image: v.$primary-text;
                background-clip: text;
            }
            &--text{
                font-size: 16px;
                color: v.$foreground;
            }
        }
        &--links{
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 40px; 

            &--section{
                h3{
                    font-size: 20px;
                    color: transparent;
                    background-image: v.$primary-text;
                    background-clip: text;
                    margin-bottom: 16px;
                }
                &--nav{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    a{
                        text-decoration: none;
                        color: v.$secondary-text;
                        font-size: 18px;
                        transition: all 0.3s ease;

                        &:hover{
                            color: v.$header-text-hover;
                        }
                    }
                }
            }
            &--buttons{
                display: flex;
                flex-direction: column;
                gap: 12px;

                &--item{
                    width: 128px ;
                    height: 45px;
                }
            }
        }
    }

    &__lower{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1520px; 
        padding: 30px 0; 
        font-size: 14px;
        color: v.$secondary-text;
        align-items: center;

        &--nav{
            display: flex;
            gap: 20px;
            a{
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover{
                    color: v.$header-text-hover;
                }
            }
        }
    }
}